:root {
   --bg-color: black;
   --glow-color: rgb(0, 119, 255);
}

body {
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    display: flex;
}

.glow-bg {
    height: 20px;
    width: 41vw;
    font-family: "Poppins";
    color: white;
    border-radius: 0px;
    box-shadow: 1px 1px 540px 15px var(--glow-color);
    position: fixed;
    top: 210px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-container {
    background-color: black;
    height: 300px;
    width: 50vw;
    font-family: "Poppins";
    color: white;
    border-radius: 20px 20px 0 0;
    border: 1px solid rgb(0, 106, 255);
    border-image: linear-gradient(
        to top, 
        var(--glow-color), 
        rgba(0, 228, 137, 0)
      ) 1 20%;;
    position: fixed;
    top: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.main-container h1 {
    position: fixed;
    top: 0px;
    font-style: normal;
    font-weight: 600;
}

.form {
    font-size: "Poppins";
    font-style: normal;
    font-weight: 400;
    background-color: rgba(53, 53, 53, 0.322);
    text-align: center;
    height: 30px;
    width: 30vw;
    border: 1px solid var(--glow-color);
    border-radius: 0px;
    text-align: center;
    max-width: 250px;
    min-width: 100px;
    border-image: 
    linear-gradient(
      to bottom, 
      var(--glow-color), 
      rgba(0, 0, 0, 0)
    ) 1 20%;
}

.form input {
    margin-left: 10px;
    font-size: .7em;
    box-sizing: border-box;
    width: 90%;
    color: rgb(127, 176, 255);
}

@media (max-width: 600px) {
    .form input {
        width: 90%;
        margin-left: 5px;
    }
}

.form button {
    font-size: "Poppins";
    font-style: normal;
    font-weight: 400;
    color: white;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    border: 1px solid var(--glow-color);
    /* box-shadow: 1px 1px 50px 1px var(--glow-color); */
}

.form button p {
    font-size: 1em;
    
}

.form button:hover {
    /* background-color:var(--glow-color); */
    box-shadow: 1px 1px 50px 1px var(--glow-color);
}

.form p {
    font-size: .7em;
    border-radius: 20px;
    margin-top: -170px;
}

.footer {
    color: #ffffff;
    position: fixed;
    top: 70px;
    font-family: monospace;
    font-size: .7em;
    letter-spacing: 1px;
    opacity: .4;
}

/*----- Success page */

.main-container-success {
    background-color: black;
    height: 500px;
    width: 50vw;
    font-family: "Poppins";
    color: white;
    border-radius: 20px 20px 0 0;
    border: 1px solid rgb(0, 106, 255);
    border-image: linear-gradient(
        to top, 
        var(--glow-color), 
        rgba(0, 228, 137, 0)
      ) 1 20%;;
    position: fixed;
    top: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container-success h1 {
    position: fixed;
    top: 0px;
    font-style: normal;
    font-weight: 600;
}

.main-container-success h2 {
    position: fixed;
    top: 220px;
    font-style: normal;
    font-weight: 0;
    font-size: 1em;
}


.file-view button {
    color: #ffffff;
    margin-top: -20px;
    height: 25px;
    width: 180px;
    background-color: black;
    border: 1px solid var(--glow-color);
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 50px 1px var(--glow-color);
    font-family: monospace;
    margin-top: 20px;
}

.file-view button:hover {
    background-color: var(--glow-color);
    color: black;
}

.qr-code {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.qr-code p {
    font-family:monospace;
    text-align: center;
}

.qr-code img{
    display: flex;
    height: 200px;
    border: 1px solid var(--glow-color);
    border-image: linear-gradient(
        to bottom, 
        var(--glow-color), 
        rgba(0, 228, 137, 0)
      ) 1 20%;;
}

.qr-code button {
    color: #ffffff;
    margin-top: -20px;
    height: 25px;
    width: 180px;
    background-color: black;
    border: 1px solid var(--glow-color);
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 50px 1px var(--glow-color);
    font-family: monospace;
    margin-top: 20px;
}

.qr-code button:hover {
    background-color: var(--glow-color);
    color: black;
}

.bottom-container {
    height: 50vh;
    width: 100%;
    position: fixed;
    bottom: -340px;
    border-radius: 100%;
    box-shadow: 1px 1px 100px 1px var(--glow-color);
}