:root {
   --bg-color: black;
   --glow-color: rgb(0, 119, 255);
}

body {
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-container {
    background-color: black;
    height: 300px;
    width: 50vw;
    font-family: "Poppins";
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(0, 183, 255);
    box-shadow: 5px 5px 50px 5px var(--glow-color);
    position: fixed;
    top: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-container h1 {
    position: fixed;
    top: 0px;
    font-style: normal;
    font-weight: 600;
}

.form {
    font-size: "Poppins";
    font-style: normal;
    font-weight: 400;
    background-color: rgba(53, 53, 53, 0.322);
    text-align: center;
    height: 30px;
    width: 30vw;
    border: 1px solid var(--glow-color);
    border-radius: 0px;
    text-align: center;
    max-width: 250px;
    min-width: 100px;
    border-image: 
    linear-gradient(
      to bottom, 
      var(--glow-color), 
      rgba(0, 0, 0, 0)
    ) 1 20%;
}

.form input {
    margin-left: 10px;
    font-size: .7em;
    box-sizing: border-box;
    width: 90%;
    color: rgb(127, 176, 255);
}

@media (max-width: 600px) {
    .form input {
        width: 90%;
        margin-left: 5px;
    }
}

.form button {
    font-size: "Poppins";
    font-style: normal;
    font-weight: 400;
    color: white;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    border: 1px solid var(--glow-color);
    box-shadow: 1px 1px 50px 1px var(--glow-color);
}

.form button p {
    font-size: 1em;
    
}

.form button:hover {
    background-color:var(--glow-color);
}

.form p {
    font-size: .7em;
    border-radius: 20px;
    margin-top: -170px;
}

.footer {
    color: #ffffff;
    position: fixed;
    top: 70px;
    font-family: monospace;
    font-size: .7em;
    letter-spacing: 1px;
    opacity: .4;
}